/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
h2{
  display:block;
  margin-bottom:30px;
  font-size:70px;
  line-height:70px;
  font-family:"Rokkitt", sans-serif;
  font-weight:700;
}
h3{
  display:block;
  font-size:30px;
  line-height:30px;
  font-family:"Rokkitt", sans-serif;
  font-weight:700;
}
p{
  font-size:18px;
  line-height:30px;
  -webkit-font-smoothing:antialiased;
}
.btn{
  display:inline-block;
  height:50px;
  font-family:"Rokkitt", sans-serif;
  font-weight:700;
  font-size:26px;
  line-height:50px;
  padding:0 40px;
  background:#3bb54a;
  color:white; 
  @include transition( all 0.5s $easeOutExpo ); 
}
.shadow-btn{
  box-shadow:-4px 4px 0 0 rgba(0,0,0,0.35);
  @include transition( all 0.5s $easeOutExpo );
  cursor:pointer;
}
.race .shadow-btn, .help .shadow-btn{
  &:hover{
    background:#3bb54a;
    color:white;
  }
  &:active{
    box-shadow:-1px 1px 0 0 rgba(0,0,0,0.35);
  }
}
.directions-btn{
  &:hover{
    background:white;
    color:#3bb54a;
  }
}
.sponsorship .btn{
  &:hover{
    background:#2c3691;
    color:white;
  }
  &:active{
    box-shadow:-1px 1px 0 0 rgba(0,0,0,0.35);
  }
}
form button{
  &:hover{
    background:white;
    color:#dd4948;
  }
  &:active{
    box-shadow:-1px 1px 0 0 rgba(0,0,0,0.35);
  }
  &:focus{
    outline:none;
  }
}
caption{
  display:block;
  margin-top:10px;
}
/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	height:100%;
  font-family:"Lato", sans-serif;
}
#main{
	width:100%;
  height:100%;
}
.container{
	position:relative;
	width:100%;
	max-width:960px;
	margin:0 auto;
}
section{
	padding:160px 0;
  //height:100%;
}
.row{
	
}
.col-75{
  width:75%;
  float:left;
  padding-left:50px;
}
.col-50{
	width:50%;
	float:left;
  &:last-child{
    padding-left:25px;
  }
  &:first-child{
    padding-right:25px;
  }
  img{
    width:100%;
    margin-top:10px;
  }
}
.col-33{
	width:33.33333%;
	float:left;
}
.col-25{
	width:25%;
	float:left;
  img{
    width:100%;
    margin-top:10px;
  }
}

header{
	position:fixed;
  top:0;left:0;
  padding:0 30px;
  width:100%;
  height:80px;
  background:white;
  box-shadow:0 3px 0 0 rgba(0,0,0,0.35);
  z-index:999;
  .container{
    max-width:1500px;
  }
}
nav{
  height:80px;
  font-family:"Rokkitt", sans-serif;
  font-weight:700;
  li{
    display:block;
    float:left;
    font-size:22px;
    line-height:80px;
    margin-right:30px;
    cursor:pointer;
    @include transition( color 0.5s $easeOutExpo );
    &:hover{
      color:#dd4948;
    } 
    &.active{
      color:#dd4948;
    }
  }
}
.register-donate-btns{
  position:absolute;
  top:15px;
  right:0;
  height:50px;
  font-family:"Rokkitt", sans-serif;
  font-weight:700;
  li{
    display:block;
    float:left;
    font-size:26px;
    line-height:50px;
    padding:0 40px;
    margin-left:10px;
    background:#3bb54a;
    color:white;
    cursor:pointer;
    &.register-btn{
      background:#2c3691;
    }
  }
  .donate-btn{
    &:hover{
      background:white;
      color:#3bb54a;
    }
    &:active{
      box-shadow:-1px 1px 0 0 rgba(0,0,0,0.35);
    }
  }
  .register-btn{
    &:hover{
      background:white;
      color:#2c3691;
    }
    &:active{
      box-shadow:-1px 1px 0 0 rgba(0,0,0,0.35);
    }
  }
}
footer{
	padding:160px 0;
  min-height:100%;
}

/* ––––––––––––––––––––––––––––––––––––––––––––

INTRO

––––––––––––––––––––––––––––––––––––––––––– */
.intro{
  text-align:center;
  background:#dd4948;
  padding:160px 30px 80px 30px;
  height:auto;
  img{
    width:100%;
    max-width:600px;
  }
}
.about{
  background:#ffff03;
}
.race{
  background:#2c3691;
  color:white;
  .col-75{
    margin-top:50px;
  }
  h2{
    font-size:65px;
    line-height:50px;
    margin-bottom:5px;
  }
  h3{
    margin-bottom:15px;
  }
  .date{
    display:block;
    font-weight:300;
    font-size:28px;
    line-height:34px;
  }
  span{
    display:block;
    font-weight:300;
    font-size:24px;
    line-height:34px;
  }
  .btn{
    width:100%;
    text-align:center;
    margin-top:15px;
    text-decoration:none;
  }
  .register{
    display:block;
    height:80px;
    line-height:80px;
    font-size:36px;
    background:white;
    color:#3bb54a;
    margin-top:30px;
  }
  .race-extras{
    margin-top:80px;
    p{
      font-size:18px;
      line-height:26px;
    }
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––

HELP

––––––––––––––––––––––––––––––––––––––––––– */
.help{
  background:#ebebeb;
  text-align:center;
  img{
    display:block;
    width:100%;
    max-width:850px;
    height: auto;
    margin:0 auto;
  }
  .btn{
    width:100%;
    height:80px;
    line-height:80px;
    font-size:36px;
    background:white;
    color:#3bb54a;
    text-decoration:none;
  }
  .row{
    margin-top:50px;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––––––

SPONSORSHIP

––––––––––––––––––––––––––––––––––––––––––– */
.sponsorship{
  background:#3bb54a;
  color:white;
  text-align:center;
  p{
    font-size:24px;
    line-height:30px;
  }
  .btn{
    width:100%;
    height:80px;
    line-height:80px;
    font-size:36px;
    background:white;
    color:#2c3691;
    margin-top:60px;
    text-decoration:none;
  }
}

/* ––––––––––––––––––––––––––––––––––––––––––––

FORM

––––––––––––––––––––––––––––––––––––––––––– */
/*
form{
  input{
    display:block;
    width:100%;
    border:1px solid #999;
    padding:0 20px; 
    height:50px;
    margin-bottom:20px;
    font-size:16px;
    &:focus{
      border-color:#e61c36;
      outline:none;
    }
  }
  textarea{
    display:block;
    border:1px solid #999;
    padding:20px 20px; 
    height:150px;
    max-width:100%;
    min-width:100%;
    font-size:16px;
    &:focus{
      border-color:#e61c36;
      outline:none;
    }
  }
  button{
    display:inline-block;
    width:100%;
    border:none;
    height:70px;
    margin-top:20px;
    font-family:"Rokkitt", sans-serif;
    font-weight:700;
    font-size:26px;
    line-height:50px;
    background:#dd4948;
    color:white;  
  }
}
*/

/* ––––––––––––––––––––––––––––––––––––––––––––

MODAL

––––––––––––––––––––––––––––––––––––––––––– */
.modal{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;
  height:100%;
  z-index:888;
  background:rgba(255,255,255,1);
  overflow:scroll;
  .modal-form{
    width:100%;
    max-width:600px;
    margin:150px auto 0 auto;
    padding:30px;
  }
  iframe{
    padding:30px;
    background:white;
  }
  h2{
    display:block;
    width:100%;
    text-align: center;
    font-size:40px;
    line-height:40px;
  }
}

 form{
  background:white;
  //padding:30px;
  li{
    list-style:none;
    margin-bottom:5px;
    img{
      width:100%;
    }
  }
  label{
    display:none;
    font-size:14px;
    margin-bottom:5px;
    &.desc{
      display:block;
      width:100%;
      margin-bottom:10px;
    }
    &.choice{
      display:inline;
    }
  }
  input{
    border:1px solid #ddd;
    padding:0 20px;
    margin-bottom:20px;
    font-size:16px;
    &[type="tel"]{
        height:50px;
    }
    &[type="email"], &[type="text"], &[type="submit"]{
      width:100%;
      border:1px solid #999;
      padding:0 20px; 
      height:50px;
      &:focus{
        border-color:#e61c36;
        outline:none;
      }
    }
    &[type="submit"]{

      display:inline-block;
      width:100%;
      border:none;
      height:70px;
      margin-top:20px;
      font-family:"Rokkitt", sans-serif;
      font-weight:700;
      font-size:26px;
      line-height:50px;
      background:#dd4948;
      color:white;
      box-shadow:-4px 4px 0 0 rgba(0,0,0,0.35);
      @include transition( all 0.5s $easeOutExpo );
      cursor:pointer;
       &:hover{
          background:#3bb54a;
          color:white;
        }
        &:active{
          box-shadow:-1px 1px 0 0 rgba(0,0,0,0.35);
        }  
  
    }
  }
  textarea{
      display:block;
      border:1px solid #999;
      padding:20px 20px; 
      height:150px;
      max-width:100%;
      min-width:100%;
      font-size:16px;
      &:focus{
        border-color:#e61c36;
        outline:none;
      }
    }
  .hide{
    display:none;
  }
    
}


/* ––––––––––––––––––––––––––––––––––––––––––––

MEDIA QUERIES

––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 1024px){
  
  header{
    height:120px;
  }
  nav{
    position:absolute;
    top:80px;
    height:40px;
    border-top:1px solid #ddd;
    width:100%;
    background:white;
    text-align:center;
    ul{
      max-width:700px;
      margin:0 auto;
    }
    li{
      display:block;
      width:20%;
      float:left;
      text-align:center;
      font-size:18px;
      line-height:42px;
      margin-right:0;
    }
  }
  .register-donate-btns{
    width:100%;
    text-align:center;
    ul{
      max-width:320px;
      margin:0 auto;
    }
    li{
      width:150px;
      font-size:26px;
      line-height:50px;
      padding:0;
      text-align:center;
      margin-left:0;
      margin:0 5px;
    }
  }

  section, footer{
    padding-left:30px;
    padding-right:30px;
  } 
  .intro{
    padding:200px 30px 80px 30px;
  }
   
}

@media (max-width:850px){

  .col-75 .col-50{
    width:100%;
    padding-left:0;
  }

}


@media (max-width:650px){

  h2, .race h2{
    font-size:50px;
    line-height:50px;
  }

  nav{
    li{
      font-size:14px;
    }
  } 
  p, .sponsorship p{
    font-size:16px;
    line-height:24px;
  }
  .btn{
    font-size:30px !important;
    line-height:50px;
    font-weight:700;
  }
  .directions-btn{
    font-size:24px !important;
  }

  footer img{
    display:block;
    max-width:250px;
    margin:0 auto 30px auto;
  }

  .about .col-25{
    width:100%;
    margin-bottom:30px;
    img{
      display:block;
      max-width:200px;
    }
  }
  .col-50{
    width:100%;
    padding:0 !important;
  }
  .col-75{
    width:100%;
    padding:0 !important;
  }
  .race .col-25{
    width:100%;
    padding:0 !important;
  }
  .race img{
    display:block;
    max-width:250px;
  }
  .race{
    .date{
      font-size:24px;
    }
    span{
      font-size:20px;
      line-height:24px;
    }
    .col-50{
      margin-top:20px;
    }
    .race-extras{
      margin-top:60px;
      p{
        font-size:16px;
        line-height:24px;
      }
    }
  }

  
  .help{
    background:#ebebeb;
    text-align:center;
    .btn{
      width:100%;
      height:80px;
      line-height:80px;
      font-size:36px;
      background:white;
      color:#3bb54a;
      text-decoration:none;
      margin-top:20px;
    }
    .row{
      margin-top:0;
    }
  }

}


input[type="submit"], button{
  -webkit-appearance: none;
}
@media (max-width:480px){

  .register-donate-btns{
    width:100%;
    text-align:center;
    ul{
      max-width:320px;
      margin:0 auto;
    }
    li{
      width:150px;
      font-size:21px;
      line-height:50px;
      padding:0;
      text-align:center;
      margin-left:0;
      margin:0 5px;
    }
  }

  nav{
    display:none;
  } 
  header{
    height:80px;
    padding:0;
  }
  section{
    padding:50px 20px;
  }
  footer{
    padding:50px 20px !important;
  }
  .intro{
    padding:130px 20px 50px 20px !important;
  }

}




